//Fonts
$OpenSans: "Open Sans", sans-serif;
$Raleway: "Raleway", sans-serif;

//Colores
$Cyan: #65e2d9; //(inside call-to-action gradient)
$Blue: #339ecc; //(inside call-to-action gradient)
$LightRed: #ff4242; //(error)
$white: #ffffff;

$DarkBlue1: #1c2431; //(intro and email sign up background)
$DarkBlue2: #181f2a; //(main background)
$DarkBlue3: #0b1523; //(footer background)
$DarkBlue4: #202a3c; //(testimonials background):

//Mixines
